fastapi==0.128.0
uvicorn[standard]==0.40.0

sqlmodel==0.0.31
SQLAlchemy==2.0.45

pydantic==2.12.5
pydantic-settings>=2.0.0
python-dotenv>=1.0.0

python-multipart>=0.0.9
python-jose[cryptography]==3.5.0
passlib==1.7.4